.arrow,
.arrow-container button {
  background-color: hsl(259, 100%, 65%);
  padding: 14px;
  width: 60px;
}

.arrow-container button {
  opacity: 0;
  height: 60px;
}

.arrow-container {
  position: relative;
  width: 460px;
  max-width: 100%;
}

.arrow-container img,
.arrow-container button {
  position: absolute;
  right: 0;
  top: -15px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  border-bottom-right-radius: 125px;
  width: 600px;
  margin: auto;
  margin-top: 100px;
  max-width: 100%;
}

body {
  background-color: hsl(0, 0%, 94%) !important;
}

@media only screen and (max-width: 500px) {
  .App {
    height: 800px;
  }
  .arrow-container img,
  .arrow-container button {
    right: calc(50% - 28px);
  }
  .arrow-container {
    margin-top: 20px;
  }
}
