.date-views {
  display: flex;
  flex-direction: column;
  width: 460px;
  max-width: 100%;
  margin-bottom: 50px;
}

.date-views .date-name {
  font-size: 60px;
  height: 50px;
  padding-top: 6px;
}

.date-views .date-value {
  border: none;
  font-size: 68px;
  color: hsl(259, 100%, 65%);
  height: 50px;
}

.date-views div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.empty-date {
  letter-spacing: 10px;
}
